<div class="title">
	<div class="leftColor"></div>
    <%= link_to image_tag("logo1.png"), root_path, :class => 'imgofTitle' %>
	<div class="direction">
		<ul>
            <li><%= link_to "生涯发展" , department_path, :class => 'firstDirection' %></li>
            <li><a href="">创新风采</a></li>
            <li><%= link_to "学院动态", news_path %></li>
            <li><%= link_to "学生工作", signin_path %></li>
            <% if signed_in? %>
            <li><%= link_to "退出登录", signout_path, method: "delete" %></li>
            <% end %>
		</ul>
	</div>
</div>
<div class="wrapper">
    <div class="mainBody">
	    <div class="leftMenu">
	    	<ul>
	    		<li><a>生涯发展</a></li>
	    		<li><a>创新风采</a></li>
	    		<li><a>学院动态</a></li>
	    	</ul>
	    </div>
      <div class="rightBlock">
        <div class="span8">
          <% if @user.articles.any? %>
              <h3>文章 (<%= @user.articles.count %>)</h3>
              <ol class="articles">
                <%= render @articles %>
              </ol>
              <%= will_paginate @articles %>
          <% end %>
        </div>
    </div>
</div>